@model CustomerLoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutMovie.cshtml";
}

<h3>Login</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="text-center">
            <div class="form-group my-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Register" asp-controller="Customer" value="Register" class="btn btn-primary" />
            </div>
            </div>
        </form>
    </div>
</div>


