@model List<GenreViewModel>

<h2>Film Türleri</h2>
<a href="/Movie/Index" class="list-group-item rounded active">Tüm Filmler</a>
@foreach(var g in Model)
{
    <a asp-controller="Movie" asp-action="Index" asp-route-id="@g.Id" class="list-group-item">
        @g.Name
    </a>
}